@use "placeholders";

.actions {
  @extend %contents;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__title {
    @extend %section-title;
  }

  &__quote {
    @extend %quote;
    // max-width: 60rem;
  }

  &__presentation {
    @extend %section-text;

    & p {
      padding-bottom: 1rem;
    }
  }
}