@use "placeholders";
@use "variables";

.history, .who {  
  &__content {
    @extend %contents;

    &__title {
      @extend %section-title;
    }
  }
}

.mission {
  // height: 100vh;

  &__content {
    @extend %contents;

    @media screen and (min-width: variables.$breakpoint) {
      flex-direction: row;
      
    }
    
    display: flex;
    gap: 2rem;
  }
  
  &__header {
    
    &__title {
      @extend %section-title;
    }
    
    // &__text {
    //   @extend %section-text;
    // }
  }

  &__quote {
    @extend %quote;
    // max-width: 30rem;
  }
}

.values {
  @extend %contents;

  &__title {
    @extend %section-title;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
  }
}

.history__content__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;

  &-intro {
    margin-top: 2rem;
  }
}