@use "variables";

.footer {
    background-color: #E97132;
    color: #fff; /* White text */
    padding: 40px 20px;
    font-size: clamp(0.85rem, 0.8rem + 0.25vw, 1.1rem);
    position: relative;

    & a {
      transition: color 0.3s ease;

      &:hover {
        color: #355399; /* Accent color on hover */
      }
    }
    
    &__image {
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
      top: -150px;
      width: 100%;
      height: 200px;
    }
    
    &__content {
      position: relative;
      z-index: 2;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;

      @media screen and (min-width: variables.$breakpoint) {
        width: 75%;
        margin: auto;
      }
    }

    &__logo {
      
      & img {
        background-color: #fff; /* White background for logo */
        border-radius: 8px;
        height: 80px;
        width: 80px;
        padding: 10px;
      }
    }
    
    &__logo,
    &__links,
    &__contact,
    &__social {
      
      flex: 1;
      min-width: 200px;

      @media screen and (min-width: variables.$breakpoint) {
        flex: none;
        min-width: fit-content;
      }

        & h4 {
          font-size: 16px;
          margin-bottom: 10px;
          text-transform: uppercase;
          color: #355399; /* Accent color */
        }
    }
    
    &__links,
    &__social {

      ul {
        list-style: none;
        padding: 0;

        & li {
          margin-bottom: 8px;
        }
      }
    }
    
    &__contact {

      & p {
        margin: 5px 0;
      }

      a {
        color: #355399;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    
    &__social-icons {
        display: flex;
        flex-direction: column;

        & a {
          display: flex;
          align-items: center;
          width: fit-content;

          & svg {
            display: block;
            height: 2.5rem;
            margin-right: 10px;
          }
          
           & span {
            display: block;
           }
        }
        
    }
    
    &__bottom {
        text-align: center;
        margin-top: 20px;
        padding-top: 10px;
    }
  }
  


