@use "variables";

%contents {
  display: flex;
  flex-direction: column;
  // align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;
  // background: #f8f6f1e6;
  background: #fbfaf8e6;
  color: #806E61;
  box-shadow: 3px 6px 12.5px #2e13054f;
  line-height: 1.5rem;

  @media screen and (min-width: variables.$breakpoint) {
    margin: auto;
    box-shadow: none;
    text-align: justify;
  }
}

%title {
  font-family: variables.$fancy-font;
  font-weight: bold;
  color: #30251d;
  // padding-bottom: 1.25rem;
  line-height: normal;
  text-align: center;
}

%section-title {
  @extend %title;
  width: 60%;
  margin: auto;
  font-size: clamp(1.3rem, 1.11rem + 0.95vw, 2.25rem);
  padding-bottom: 1.25rem;
}

%small-title {
  @extend %title;
  font-size: clamp(1rem, 0.75rem + 1.25vw, 2rem);
  padding-bottom: 1rem;
}

%quote {
  background-color: #f8eee9;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-style: italic;
    padding: 2rem;
    font-family: variables.$fancy-font;
    height: fit-content;

    & svg {
      width: 3rem;
      height: 3rem;
      margin-bottom: 1.5rem;
      color: #d76942;
    }
  }

  %card {
    background-color: white;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
  }