@use 'variables';

.parent__menu {
  position: relative;

  &:hover > .submenu {
    display: block;
  }

  @media screen and (min-width: variables.$breakpoint) {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 25px;
      background: rgba(0,0,0,0.01);
    }
  }
}

.submenu {
  display: none;
  // padding-top: 1rem;
  
  @media screen and (min-width: variables.$breakpoint) {
    position: absolute;
    top: 55px;
    // bottom: -124px;
    // left: -0.5rem;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    // border-top: 3px solid #ff8255;
    border-radius: 0.2rem;
    // padding: 0 1rem;

    &::before {
      display: inline-block;
      content: "";
      vertical-align: middle;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgba(255, 255, 255, 0.95);
      border-left: 10px solid transparent;
      position: absolute;
      top: -10px;
      left: 1rem;
    }
  }

  & li {
    // padding-bottom: 1rem;
    margin: 0;
    padding: 0.5rem;
    position: relative;
  }
}