@use "placeholders";
@use "variables";

.team {

  @extend %contents;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  
  &__title {
    @extend %section-title;
  }

  &__presentation {
    // @extend %section-text;

    & p {
      padding-bottom: 1rem;
    }
  }

  &__container {
    display: grid;
    gap: 3rem;
	  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
  }

  &__card {
    @extend %card;
    margin: .5rem;

    // &:hover {
    //   transform: translateY(-10px);
    //   box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    //   transition: all 0.3s ease-in-out;
    // }

    & img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: top;
    }

    &__text {
      // @extend %section-text;
      padding: 1rem;
    }

    &__name {
      font-family: variables.$fancy-font;
      font-size: 1.2rem;
      font-weight: bold;
      color: #30251d;
      padding-bottom: 1rem;
    }
  }
}