@use "variables";
@use "placeholders";

.test-subsection {
  
  &__content {
    display: flex;

    &:has(.top) {
      flex-direction: column;
    }
  }
  

  &__image {
    & img {
      width: 100%;
      height: auto;
      border-radius: .5rem;
    }
  }

}

.right {
  order: 2;
}
