@use "variables";

.wrapper {
  gap: 4rem;
  padding: 2rem 1rem;
  margin: 2rem auto 0 auto;
  background: rgba(251, 250, 248, 0.95);
  // box-shadow: 3px 6px 12.5px #2e13054f;

  @media screen and (min-width: variables.$breakpoint) {
    gap: 7rem;
    padding: 0;
    margin-top: 5rem;
    background: transparent;
    box-shadow: none;

    &:not(:first-child) {
      margin-top: 10rem;
    }
  }

  & p {
    margin-bottom: 1rem;
  }
}

.test {

  &__image {

    
    &.left {
      float: left;
      margin-right: 2rem;
      margin-left: 0;
    }
    
    & img {
      float: right;
      margin-left: 2rem;
      width: 25vw;
    }
  }

  &__quote {
    max-width: 100%;
    float: right;
    margin-left: 2rem;
    background-color: #f8eee9;
    border-radius: 1.5rem;
    font-size: clamp(1.2rem, 1.08rem + 0.6vw, 1.8rem);
    font-style: italic;
    font-weight: normal;
    padding: 1.7rem;
    font-family: variables.$fancy-font;
    height: fit-content;
    text-align: left;
    line-height: 2rem;
    
    .left {
      float: left;
      margin-right: 2rem;
      margin-left: 0;
    }
  
    & svg {
      width: 3rem;
      height: 3rem;
      margin-bottom: 0.5rem;
      color: #d76942;
    }
  
    @media screen and (min-width: variables.$breakpoint) {
      width: 40%;
    }
  }
}