{% extends 'base.html.twig' %}

{% block title %}Association TAM : Thérapies, Arts & Médiations - Mentions légales{% endblock %}

{% block body %}
    <main>
      <div class="banner-container">
        <div class="banner"></div>
        <div class="banner__pusher">
            <section class="section">
              <h2 class="section__title">Mentions légales</h2>
              <p>Des trucs juridiques</p>
            </section>
        </div>
        <div class="banner banner--right"></div>
      </div>
    </main>
{% endblock %}
