
tam-symfo/.env.local
tam-symfo/.env.local.php
tam-symfo/.env.*.local
tam-symfo/config/secrets/prod/prod.decrypt.private.php
tam-symfo/public/bundles/
tam-symfo/var/
tam-symfo/vendor/

tam-symfo/phpunit.xml
tam-symfo/.phpunit.cache/

tam-symfo/assets/vendor/

tam-symfo/public/assets/images
tam-symfo/public/assets/videos
