{% extends 'base.html.twig' %}

{% block title %}Association TAM : Thérapies, Arts & Médiations - Ressources{% endblock %}

{% block body %}
    <main>
      <div class="banner-container">
        <div class="banner"></div>
        <div class="banner__pusher">
            <section class="resources section">
                <section class="resources__header">
                    <h2 class="section__title">Publications, vidéos et outils pédagogiques</h2>
                </section>
                <section class="resources__content">
                    <p>Vous trouverez ici :</p>
                    <ul>
                        <li>Articles :Art et soin AIEP 2010, Colloque FFAT 2017 et 19  et journal Ivry ma ville.</li>
                        <li>Vidéos : <br>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/1vJBUHIuNjQ?si=j8CNEf4QdAYPyNvU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/4Za_l8DzJ3U?si=p7Sr8W9UOBZe-PX2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <!-- <a href="https://youtu.be/1vJBUHIuNjQ"><img src="https://i2.ytimg.com/vi/1vJBUHIuNjQ/mqdefault.jpg" alt="aperçu video youtube"></a>
                            <a href="https://youtu.be/4Za_l8DzJ3U"><img src="https://i2.ytimg.com/vi/4Za_l8DzJ3U/mqdefault.jpg" alt="aperçu video youtube"></a> -->
                        </li>
                        <li>Podcasts</li>
                        <li>Galeries photos</li>
                        <li><a class="resources__link" href="reports.html">Rapports d’activités</a></li>
                        <li>Supports visuels : Plaquette, Mémoires d’histoire, Brochure les 10 ans… La recherche à l’ONG racines de Cotonou</li>
                        <li>Liens : <a href="#">Facebook</a> et <a href="#">LinkedIn</a></li>
                    </ul>
                    <p>Ces ressources témoignent de notre travail de terrain, de notre démarche clinique et nos recherches.</p>
                </section>
            </section>
        </div>
        <div class="banner banner--right"></div>
      </div>
    </main>
{% endblock %}
