@use "variables";

%contents {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  background: rgba(251, 250, 248, 0.95);
  box-shadow: 3px 6px 12.5px #2e13054f;
  border-radius: 0.5rem;
  line-height: 2rem;

  @media screen and (min-width: variables.$breakpoint) {
    margin: auto;
    box-shadow: none;
  }
}

%title {
  line-height: normal;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

%section-title {
  @extend %title;
  margin: 0 auto 2rem auto;
  font-size: clamp(1.3rem, 1.06rem + 1.2vw, 2.5rem);
}

%small-title {

  @extend %title;
  font-size: clamp(1rem, 0.84rem + 0.8vw, 1.8rem);
}

%quote {
  background-color: #f8eee9;
  border-radius: .5rem;
  font-size: clamp(1.2rem, 1.08rem + 0.6vw, 1.8rem);
  font-style: italic;
  font-weight: normal;
  padding: 1.7rem;
  font-family: variables.$fancy-font;
  height: fit-content;
  text-align: left;
  line-height: 2rem;

  @media screen and (min-width: variables.$breakpoint) {
    min-width: 40vh;
  }

    & svg {
      width: 3rem;
      height: 3rem;
      margin-bottom: 0.5rem;
      color: #d76942;
    }
  }

  %card {
    background-color: white;
    // height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
  }

  %list {
    list-style: disc;
    width: fit-content;
    margin-left: 3rem;

      @media screen and (min-width: variables.$breakpoint) {
        margin-left: 5rem;
      }
  }

  %link {
    color: #d76942;
    text-decoration: none;
    font-weight: 500;
    border-radius: .5rem;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;

    @media screen and (min-width: variables.$breakpoint) {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
      }

  }

  %button {
    background-color: #d76942;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: clamp(0.9rem, 0.925rem + 0.375vw, 1.375rem);
    cursor: pointer;
    height: 42px;

    &:hover {
        background-color: #b85a33;
    }
  }