{% extends 'base.html.twig' %}

{% block title %}Association TAM : Thérapies, Arts & Médiations - Formation{% endblock %}

{% block body %}
    <main>
        <div class="banner-container">
            <div class="banner"></div>
            <div class="banner__pusher">
                <section class="training section">
                    <section class="training__header subsection">
                        <h2 class="section__title section__side-title">Formation en art-thérapie transculturelle</h2>
                        <div class="training__presentation">
                            <h3 class="section__small-title">Une formation innovante, scientifique et humaniste</h3>
                            <p>Dans le prolongement de son travail clinique en s’appuyant sur la recherche <strong>« art & résilience »</strong>, L'Art au service de l'accompagnement des personnes atteintes du VIH au Bénin, TAM Internationale développe un programme de formation universitaire en thérapie par les arts, à destination des professionnels de la santé mentale au Bénin.</p>
                            <a class="training__link" href="https://www.fmsh.fr/parutions/lart-au-service-de-laccompagnement-des-personnes-atteintes-du-vih-au-benin">L’Art au service de l’accompagnement des personnes atteintes du VIH au Bénin</a>
                            <ul class="section__list">
                                <li>Des partenariats universitaires Paris 13 France et Abomey Calavi Bénin.</li>
                                <li>Des collaborations hospitalières Hôpital Avicenne France et CNHU- HKM Cotonou- Bénin.</li>
                                <li>Des réseaux cliniques et artistiques, en lien avec le SFAT et l’école Puzzle, d’art-thérapie pluriexpressionnelle de Lille, le MAC VAL de Vitry sur Seine France et la Fondation Zinsou Cotonou et Ouidah Bénin.</li>
                            </ul>
                        </div>
                        <div class="section__image section__side left">
                            <img src="../images/sections/patchwork.JPG" alt="Personnes">
                        </div>
                    </section>
                    <section class="training__experts">
                        <h3 class="section__small-title">Nos Formateurs EXPERTS :</h3>
                        <p>Des liens avec des Thérapeutes et artistes internationaux –Geneviève Bartoli, Catherine Briand, Irina Katz Mazilu, Jolanta Wilczek Pauwels, Francis Debrabandère, Etienne Kouadio et  Louis Oké Agbo.</p>
                    </section>
                    <section class="training__audience">
                        <h3 class="section__small-title">Public concerné</h3>
                        <ul class="section__list">
                            <li>Psychiatres</li>
                            <li>Psychologues</li>
                            <li>Psychothérapeutes</li>
                            <li>Art-thérapeutes</li>
                            <li>Universitaires</li>
                            <li>Chefs de service hospitaliers</li>
                        </ul>
                    </section>
                    <section class="training__goals">
                        <h3 class="section__small-title">Objectifs pédagogiques</h3>
                        <p>Former des praticiens Béninois, experts capables de :</p>
                        <ul class="section__list">
                            <li>Utiliser l’art comme médiation thérapeutique.</li>
                            <li>Intégrer les dimensions culturelles et transculturelles.</li>
                            <li>Développer une posture clinique éthique.</li>
                            <li>Transmettre ces savoirs à leur tour dans un cadre universitaire.</li>
                            <li>Construire des ponts entre clinique occidentale et connaissances traditionnelles africaines.</li>
                        </ul>
                    </section>
                    <section class="training__axes">
                        <h3 class="section__small-title">Axes de formation</h3>
                        <ul class="section__list">
                            <li>Art-thérapie clinique</li>
                            <li>Psychiatrie transculturelle</li>
                            <li>Ethnopsychiatrie</li>
                            <li>Médiations artistiques</li>
                            <li>Savoirs thérapeutiques traditionnels</li>
                            <li>Dispositifs communautaires</li>
                        </ul>
                    </section>
                </section>
            </div>
            <div class="banner banner--right"></div>
        </div>
    </main>
{% endblock %}
