{% extends 'base.html.twig' %}

{% block title %}Association TAM : Thérapies, Arts & Médiations - Rapports d'activité{% endblock %}

{% block body %}
    <main>
        <div class="banner-container">
            <div class="banner"></div>
            <div class="banner__pusher">
                <section class="reports section">
                    <div class="reports__header">
                        <h2 class="section__title">Des temps forts…</h2>
                        <p>Découvrez nos rapports d'activité annuels pour en savoir plus sur nos actions, nos réalisations et notre impact. Ces rapports détaillent les projets que nous avons menés, les résultats obtenus et les perspectives pour l'avenir. Ils sont une source précieuse d'informations pour nos partenaires, nos donateurs et tous ceux qui souhaitent suivre notre travail de près.</p>
                    </div>
                    <ul class="reports__list">
                        <div class="line"></div>
                        <li class="reports__list-item">
                            <div class="reports__list-bullet"></div>
                            <div class="reports__list-text">
                                <a href="../reports/Rapport d'activité _Association TAM 2022 FINAL signé AH SVC.pdf"><img src="../images/Reports-thumbnails/thumbnail.jpg" alt=""></a>
                                <p>2011 … première année d’activité… nos actions dans les oyers de Créteil vert de maison et résidence ADEF de Choisy le Roi... Vivre en « marge »  des villes</p>
                            </div>
                        </li>
                        <li class="reports__list-item">
                            <div class="reports__list-bullet"></div>
                            <div class="reports__list-text">
                                <a href="../reports/Rapport d'activité _Association TAM 2022 FINAL signé AH SVC.pdf"><img src="../images/Reports-thumbnails/thumbnail.jpg" alt=""></a>
                                <p>2011 … première année d’activité… nos actions dans les oyers de Créteil vert de maison et résidence ADEF de Choisy le Roi... Vivre en « marge »  des villes</p>
                            </div>
                        </li>
                        <li class="reports__list-item">
                            <div class="reports__list-bullet"></div>
                            <div class="reports__list-text">
                                <a href="../reports/Rapport d'activité _Association TAM 2022 FINAL signé AH SVC.pdf"><img src="../images/Reports-thumbnails/thumbnail.jpg" alt=""></a>
                                <p>2011 … première année d’activité… nos actions dans les oyers de Créteil vert de maison et résidence ADEF de Choisy le Roi... Vivre en « marge »  des villes</p>
                            </div>
                        </li>
                        <li class="reports__list-item">
                            <div class="reports__list-bullet"></div>
                            <div class="reports__list-text">
                                <a href="../reports/Rapport d'activité _Association TAM 2022 FINAL signé AH SVC.pdf"><img src="../images/Reports-thumbnails/thumbnail.jpg" alt=""></a>
                                <p>2011 … première année d’activité… nos actions dans les oyers de Créteil vert de maison et résidence ADEF de Choisy le Roi... Vivre en « marge »  des villes</p>
                            </div>
                        </li>
                        <li class="reports__list-item">
                            <div class="reports__list-bullet"></div>
                            <div class="reports__list-text">
                                <a href="../reports/Rapport d'activité _Association TAM 2022 FINAL signé AH SVC.pdf"><img src="../images/Reports-thumbnails/thumbnail.jpg" alt=""></a>
                                <p>2011 … première année d’activité… nos actions dans les oyers de Créteil vert de maison et résidence ADEF de Choisy le Roi... Vivre en « marge »  des villes</p>
                            </div>
                        </li>
                        <li class="reports__list-item">
                            <div class="reports__list-bullet"></div>
                            <div class="reports__list-text">
                                <a href="../reports/Rapport d'activité _Association TAM 2022 FINAL signé AH SVC.pdf"><img src="../images/Reports-thumbnails/thumbnail.jpg" alt=""></a>
                                <p>2011 … première année d’activité… nos actions dans les oyers de Créteil vert de maison et résidence ADEF de Choisy le Roi... Vivre en « marge »  des villes</p>
                            </div>
                        </li>
                        <li class="reports__list-item">
                            <div class="reports__list-bullet"></div>
                            <div class="reports__list-text">
                                <a href="../reports/Rapport d'activité _Association TAM 2022 FINAL signé AH SVC.pdf"><img src="../images/Reports-thumbnails/thumbnail.jpg" alt=""></a>
                                <p>2011 … première année d’activité… nos actions dans les oyers de Créteil vert de maison et résidence ADEF de Choisy le Roi... Vivre en « marge »  des villes</p>
                            </div>
                        </li>
                        <li class="reports__list-item">
                            <div class="reports__list-bullet"></div>
                            <div class="reports__list-text">
                                <a href="../reports/Rapport d'activité _Association TAM 2022 FINAL signé AH SVC.pdf"><img src="../images/Reports-thumbnails/thumbnail.jpg" alt=""></a>
                                <p>2011 … première année d’activité… nos actions dans les oyers de Créteil vert de maison et résidence ADEF de Choisy le Roi... Vivre en « marge »  des villes</p>
                            </div>
                        </li>
                        <div class="white-line"></div>
                    </ul>
                    <div>
                        <h3 class="section__small-title">De petits chiffres de grandes actions…</h3>
                        <p>Si les chiffres ne sont pas spectaculaires ils sont toutefois éloquents. Ce sont autant de fils de vie renforcés d’espoir et de joie retrouvé de liens consolidés. </p>
                    </div>
                </section>
            </div>
            <div class="banner banner--right"></div>
        </div>
    </main>
{% endblock %}
