{% extends 'base.html.twig' %}

{% block title %}Association TAM : Mentions légales{% endblock %}

{% block body %}
    <main>
        {% include "partials/_left_banner.html.twig" %}
            <section class="section">
              <h2 class="section__title">Mentions légales</h2>
              <p>Des trucs juridiques</p>
            </section>
        {% include "partials/_right_banner.html.twig" %}
    </main>
{% endblock %}
